/* Write your CSS here */
.tab-item {
  margin: 20px;
  color: #7b8794;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  border: 0px;
  font-family: 'Bree Serif';
  cursor: pointer;
}
.active-tab {
  color: #2563eb;
  font-size: 20px;
  text-decoration: underline;
}
